Get-RoleAssignment/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata":{
        "comments": "This playbook will work with 'RBAC Role Assignment' Azure Sentinel Analytic Rule. It will contextualize the Operation 'Microsoft.Authorization/roleAssignments/write' and add in the object that assigment was granted to and the role name. It will then send an email to the team handling compliance, security and/or identity.",
        "author": "Nathan Swift"
    },
    "parameters": {
        "PlaybookName": {
            "defaultValue": "Get-RoleAssignment",
            "type": "String"
        },
        "UserName": {
            "defaultValue": "<username>@<domain>",
            "type": "string"
        },
        "AADTenantID": {
            "defaultValue": "Your AAD Tenant ID",
            "type": "string"
        },
        "EmailContact": {
            "defaultValue": "emailaddressofsecurityorcomplianceoridentityteam@domain.com",
            "type": "string"
        }
    },
    "variables": {
        "AzureSentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]",
        "office365ConnectionName": "[concat('office365-', parameters('PlaybookName'))]"
    },
    "resources": [
            {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('AzureSentinelConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[parameters('UserName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('office365ConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[parameters('UserName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('PlaybookName')]",
            "location": "[resourceGroup().location]",
            "tags": {
                "LogicAppsCategory": "security"
            },
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "AADTenant": {
                            "defaultValue": "[parameters('AADTenantID')]",
                            "type": "String"
                        },
                        "EmailContact": {
                            "defaultValue": "[parameters('EmailContact')]",
                            "type": "String"
                        },
                        "matchdisplaynamearray": {
                            "defaultValue": [],
                            "type": "Array"
                        },
                        "rolesurl": {
                            "defaultValue": "https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#",
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "When_a_response_to_an_Azure_Sentinel_alert_is_triggered": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "path": "/subscribe"
                            }
                        }
                    },
                    "actions": {
                        "For_each": {
                            "foreach": "@body('Parse_JSON')",
                            "actions": {
                                "Switch": {
                                    "runAfter": {},
                                    "cases": {
                                        "Case": {
                                            "case": "url",
                                            "actions": {
                                                "Set_variable": {
                                                    "runAfter": {},
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "roleassignmentid",
                                                        "value": "@items('For_each')?['Url']"
                                                    }
                                                }
                                            }
                                        },
                                        "Case_2": {
                                            "case": "ip",
                                            "actions": {
                                                "Set_variable_2": {
                                                    "runAfter": {},
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "ipaddress",
                                                        "value": "@items('For_each')?['Address']"
                                                    }
                                                }
                                            }
                                        },
                                        "Case_3": {
                                            "case": "account",
                                            "actions": {
                                                "Set_variable_3": {
                                                    "runAfter": {},
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "caller",
                                                        "value": "@{concat(items('For_each')?['Name'], '@', items('For_each')?['UPNSuffix'])}"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "default": {
                                        "actions": {}
                                    },
                                    "expression": "@items('For_each')?['Type']",
                                    "type": "Switch"
                                }
                            },
                            "runAfter": {
                                "Parse_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "HTTP": {
                            "runAfter": {
                                "For_each": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "audience": "https://management.azure.com/",
                                    "type": "ManagedServiceIdentity"
                                },
                                "method": "GET",
                                "uri": "https://management.azure.com/@{variables('roleassignmentid')}?api-version=2015-07-01"
                            }
                        },
                        "HTTP_2": {
                            "runAfter": {
                                "Parse_JSON_2": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "audience": "https://management.azure.com/",
                                    "type": "ManagedServiceIdentity"
                                },
                                "method": "GET",
                                "uri": "https://management.azure.com/subscriptions/@{split(body('Parse_JSON_2')?['properties']?['roleDefinitionId'], '/')[add(length(split(body('Parse_JSON_2')?['properties']?['roleDefinitionId'], '/')), -5)]}/providers/Microsoft.Authorization/roleDefinitions/@{split(body('Parse_JSON_2')?['properties']?['roleDefinitionId'], '/')[add(length(split(body('Parse_JSON_2')?['properties']?['roleDefinitionId'], '/')), -1)]}?api-version=2018-01-01-preview"
                            }
                        },
                        "HTTP_3": {
                            "runAfter": {
                                "Parse_JSON_3": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "audience": "https://graph.windows.net/",
                                    "type": "ManagedServiceIdentity"
                                },
                                "body": {
                                    "includeDirectoryObjectReferences": true,
                                    "objectIds": [
                                        "@body('Parse_JSON_2')?['properties']?['principalId']"
                                    ]
                                },
                                "method": "POST",
                                "uri": "https://graph.windows.net/@{parameters('AADTenant')}/getObjectsByObjectIds?api-version=1.6 "
                            }
                        },
                        "HTTP_4": {
                            "runAfter": {
                                "Switch_2": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "method": "GET",
                                "uri": "http://ip-api.com/json/@{variables('ipaddress')}"
                            }
                        },
                        "Initialize_variable": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "roleassignmentid",
                                        "type": "string",
                                        "value": "@{null}"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_2": {
                            "runAfter": {
                                "Initialize_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "caller",
                                        "type": "string",
                                        "value": "@{null}"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_3": {
                            "runAfter": {
                                "Initialize_variable_2": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "ipaddress",
                                        "type": "string",
                                        "value": "@{null}"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_4": {
                            "runAfter": {
                                "Initialize_variable_3": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "UPN",
                                        "type": "string",
                                        "value": "@{null}"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_5": {
                            "runAfter": {
                                "Initialize_variable_4": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "execute",
                                        "type": "boolean",
                                        "value": "@null"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_6": {
                            "runAfter": {
                                "Initialize_variable_5": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "aadobjectlink",
                                        "type": "string",
                                        "value": "@{null}"
                                    }
                                ]
                            }
                        },
                        "Parse_JSON": {
                            "runAfter": {
                                "Initialize_variable_6": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@triggerBody()?['Entities']",
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "$id": {
                                                "type": "string"
                                            },
                                            "Address": {
                                                "type": "string"
                                            },
                                            "IsDomainJoined": {
                                                "type": "boolean"
                                            },
                                            "IsValid": {
                                                "type": "boolean"
                                            },
                                            "Name": {
                                                "type": "string"
                                            },
                                            "Type": {
                                                "type": "string"
                                            },
                                            "UPNSuffix": {
                                                "type": "string"
                                            },
                                            "Url": {
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "$id",
                                            "Type"
                                        ],
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        },
                        "Parse_JSON_2": {
                            "runAfter": {
                                "HTTP": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('HTTP')",
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "string"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "properties": {
                                            "properties": {
                                                "createdBy": {
                                                    "type": "string"
                                                },
                                                "createdOn": {
                                                    "type": "string"
                                                },
                                                "principalId": {
                                                    "type": "string"
                                                },
                                                "roleDefinitionId": {
                                                    "type": "string"
                                                },
                                                "scope": {
                                                    "type": "string"
                                                },
                                                "updatedBy": {
                                                    "type": "string"
                                                },
                                                "updatedOn": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "Parse_JSON_3": {
                            "runAfter": {
                                "HTTP_2": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('HTTP_2')",
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "string"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "properties": {
                                            "properties": {
                                                "assignableScopes": {
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "createdBy": {},
                                                "createdOn": {
                                                    "type": "string"
                                                },
                                                "description": {
                                                    "type": "string"
                                                },
                                                "permissions": {
                                                    "items": {
                                                        "properties": {
                                                            "actions": {
                                                                "items": {
                                                                    "type": "string"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "dataActions": {
                                                                "type": "array"
                                                            },
                                                            "notActions": {
                                                                "type": "array"
                                                            },
                                                            "notDataActions": {
                                                                "type": "array"
                                                            }
                                                        },
                                                        "required": [
                                                            "actions",
                                                            "notActions",
                                                            "dataActions",
                                                            "notDataActions"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "roleName": {
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "type": "string"
                                                },
                                                "updatedBy": {},
                                                "updatedOn": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "Send_an_email_(V2)": {
                            "runAfter": {
                                "HTTP_4": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "Body": "<p>Role Assignment Write Occured:<br>\n<br>\nInitiatedBy: @{variables('caller')}<br>\nFrom IP: @{variables('ipaddress')}<br>\nCountry: @{body('HTTP_4')?['countryCode']}<br>\n &nbsp;&nbsp;Region: @{body('HTTP_4')?['regionName']}<br>\n &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;City: @{body('HTTP_4')?['city']}<br>\nISP: @{body('HTTP_4')?['isp']}<br>\n<br>\nObject: &nbsp;@{body('HTTP_3')?['value'][0]?['displayName']}<br>\nObjectType: @{body('HTTP_3')?['value'][0]?['objectType']}<br>\nObjectLink: @{variables('aadobjectlink')}<br>\n<br>\nUserPrincipalName: @{variables('UPN')}<br>\n<br>\nRole: @{body('Parse_JSON_3')?['properties']?['roleName']}<br>\nRoleLink: @{parameters('rolesurl')}@{toLower(replace(body('Parse_JSON_3')?['properties']?['roleName'], ' ', '-'))}<br>\n<br>\nScope: @{body('Parse_JSON_2')?['properties']?['scope']}<br>\n</p>",
                                    "Importance": "High",
                                    "Subject": "Role Assignment Write Detected by @{variables('caller')} on @{body('HTTP_3')?['value'][0]?['displayName']}",
                                    "To": "@parameters('EmailContact')"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/v2/Mail"
                            }
                        },
                        "Switch_2": {
                            "runAfter": {
                                "HTTP_3": [
                                    "Succeeded"
                                ]
                            },
                            "cases": {
                                "Case": {
                                    "case": "User",
                                    "actions": {
                                        "Set_variable_4": {
                                            "runAfter": {},
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "UPN",
                                                "value": "@{body('HTTP_3')?['value'][0]?['userPrincipalName']}"
                                            }
                                        },
                                        "Set_variable_5": {
                                            "runAfter": {
                                                "Set_variable_4": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "aadobjectlink",
                                                "value": "https://portal.azure.com/#blade/Microsoft_AAD_IAM/UserDetailsMenuBlade/Profile/userId/@{body('HTTP_3')?['value'][0]?['objectId']}/adminUnitObjectId/"
                                            }
                                        }
                                    }
                                },
                                "Case_2": {
                                    "case": "ServicePrincipal",
                                    "actions": {
                                        "Set_variable_6": {
                                            "runAfter": {},
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "aadobjectlink",
                                                "value": "https://portal.azure.com/#blade/Microsoft_AAD_RegisteredApps/ApplicationMenuBlade/Overview/appId/@{body('HTTP_3')?['value'][0]?['appId']}/isMSAApp/"
                                            }
                                        }
                                    }
                                }
                            },
                            "default": {
                                "actions": {}
                            },
                            "expression": "@body('HTTP_3')?['value'][0]?['objectType']",
                            "type": "Switch"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                                "connectionName": "[variables('AzureSentinelConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                            },
                            "office365": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]",
                                "connectionName": "[variables('office365ConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}