Notify-AzureResourceTagOwner/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
        "metadata":{
        "comments": "This playbook will notify the Azure Resource Owner using the Azure Resource - Owner:someone@domain.com Tag for a ASC Generated Alert in a Sentinel Incident.",
        "author": "Nathan Swift"
    },
    "parameters": {
        "PlaybookName": {
            "defaultValue": "Notify-ASCAlertResourceOwnerTag",
            "type": "String"
        },
        "UserName": {
            "defaultValue": "<username>@<domain>",
            "type": "string"
        },
        "ASCLogAnalyticsWorkspaceName": {
        "defaultValue": "yourASCWorkspacename",
        "type": "string"
        },
        "ASCLogAnalyticsWorkspaceResourceGroupName": {
        "defaultValue": "yourASCWorkspaceRGname",
        "type": "string"
        }
    },
    "variables": {
        "AzureMonitorLogsConnectionName": "[concat('azuremonitorlogs-', parameters('PlaybookName'))]",
        "AzureSentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]",
        "armConnectionName": "[concat('arm-', parameters('PlaybookName'))]",
        "office365ConnectionName": "[concat('office365-', parameters('PlaybookName'))]"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('AzureSentinelConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[parameters('UserName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('AzureMonitorLogsConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[parameters('UserName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuremonitorlogs')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('armConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[parameters('UserName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/arm')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('office365ConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[parameters('UserName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('PlaybookName')]",
            "location": "[resourceGroup().location]",
            "tags": {
                "LogicAppsCategory": "security"
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('AzureMonitorLogsConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('armConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_a_response_to_an_Azure_Sentinel_alert_is_triggered": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "path": "/subscribe"
                            }
                        }
                    },
                    "actions": {
                        "Alert_-_Get_incident": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/Cases/@{encodeURIComponent(triggerBody()?['SystemAlertId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceSubscriptionId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceResourceGroup'])}"
                            }
                        },
                        "For_each": {
                            "foreach": "@body('Alert_-_Get_incident')?['properties']?['RelatedAlertIds']",
                            "actions": {
                                "For_each_2": {
                                    "foreach": "@body('Parse_JSON')",
                                    "actions": {
                                        "Parse_JSON_2": {
                                            "runAfter": {
                                                "Read_a_resource": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ParseJson",
                                            "inputs": {
                                                "content": "@body('Read_a_resource')?['tags']",
                                                "schema": {
                                                    "properties": {
                                                        "Owner": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            }
                                        },
                                        "Read_a_resource": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['arm']['connectionId']"
                                                    }
                                                },
                                                "method": "get",
                                                "path": "/subscriptions/@{encodeURIComponent(items('For_each_2')['resourcesubid'])}/resourcegroups/@{encodeURIComponent(items('For_each_2')['resourcergname'])}/providers/@{encodeURIComponent(items('For_each_2')['resourceprovider'])}/@{encodeURIComponent(items('For_each_2')['resourceshortid'])}",
                                                "queries": {
                                                    "x-ms-api-version": "2019-12-01"
                                                }
                                            }
                                        },
                                        "Send_an_email_(V2)": {
                                            "runAfter": {
                                                "Parse_JSON_2": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "Body": "<p>SOC Analyst has found an issue that needs further investigation within the Azure resource. <br>\n<br>\nPlease read the following discovery report to take action:<br>\n@{items('For_each_2')['AlertLink']}<br>\n<br>\nPlease contact your security team with Case: @{body('Alert_-_Get_incident')?['properties']?['CaseNumber']}&nbsp;</p>",
                                                    "Importance": "High",
                                                    "Subject": "Severity - @{items('For_each_2')['AlertSeverity']} - @{items('For_each_2')['DisplayName']}",
                                                    "To": "@body('Parse_JSON_2')?['Owner']"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/v2/Mail"
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Parse_JSON": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Foreach"
                                },
                                "Parse_JSON": {
                                    "runAfter": {
                                        "Run_query_and_list_results": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@body('Run_query_and_list_results')?['value']",
                                        "schema": {
                                            "items": {
                                                "properties": {
                                                    "AlertLink": {
                                                        "type": "string"
                                                    },
                                                    "AlertName": {
                                                        "type": "string"
                                                    },
                                                    "AlertSeverity": {
                                                        "type": "string"
                                                    },
                                                    "AlertType": {
                                                        "type": "string"
                                                    },
                                                    "ConfidenceLevel": {
                                                        "type": "string"
                                                    },
                                                    "ConfidenceScore": {},
                                                    "Description": {
                                                        "type": "string"
                                                    },
                                                    "DisplayName": {
                                                        "type": "string"
                                                    },
                                                    "EndTime": {
                                                        "type": "string"
                                                    },
                                                    "Entities": {
                                                        "type": "string"
                                                    },
                                                    "ExtendedLinks": {
                                                        "type": "string"
                                                    },
                                                    "ExtendedProperties": {
                                                        "type": "string"
                                                    },
                                                    "IsIncident": {
                                                        "type": "boolean"
                                                    },
                                                    "ProcessingEndTime": {
                                                        "type": "string"
                                                    },
                                                    "ProductComponentName": {
                                                        "type": "string"
                                                    },
                                                    "ProductName": {
                                                        "type": "string"
                                                    },
                                                    "ProviderName": {
                                                        "type": "string"
                                                    },
                                                    "RemediationSteps": {
                                                        "type": "string"
                                                    },
                                                    "ResourceId": {
                                                        "type": "string"
                                                    },
                                                    "SourceComputerId": {
                                                        "type": "string"
                                                    },
                                                    "SourceSystem": {
                                                        "type": "string"
                                                    },
                                                    "StartTime": {
                                                        "type": "string"
                                                    },
                                                    "SystemAlertId": {
                                                        "type": "string"
                                                    },
                                                    "TenantId": {
                                                        "type": "string"
                                                    },
                                                    "TimeGenerated": {
                                                        "type": "string"
                                                    },
                                                    "Type": {
                                                        "type": "string"
                                                    },
                                                    "VendorName": {
                                                        "type": "string"
                                                    },
                                                    "VendorOriginalId": {
                                                        "type": "string"
                                                    },
                                                    "WorkspaceResourceGroup": {
                                                        "type": "string"
                                                    },
                                                    "WorkspaceSubscriptionId": {
                                                        "type": "string"
                                                    },
                                                    "resourceprovider": {
                                                        "type": "string"
                                                    },
                                                    "resourcergname": {
                                                        "type": "string"
                                                    },
                                                    "resourceshortid": {
                                                        "type": "string"
                                                    },
                                                    "resourceshortid1": {
                                                        "type": "string"
                                                    },
                                                    "resourceshortid2": {
                                                        "type": "string"
                                                    },
                                                    "resourcesubid": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "SystemAlertId",
                                                    "TimeGenerated",
                                                    "TenantId",
                                                    "DisplayName",
                                                    "AlertName",
                                                    "AlertSeverity",
                                                    "Description",
                                                    "ProviderName",
                                                    "VendorName",
                                                    "VendorOriginalId",
                                                    "ResourceId",
                                                    "SourceComputerId",
                                                    "AlertType",
                                                    "ConfidenceLevel",
                                                    "ConfidenceScore",
                                                    "IsIncident",
                                                    "StartTime",
                                                    "EndTime",
                                                    "ProcessingEndTime",
                                                    "RemediationSteps",
                                                    "ExtendedProperties",
                                                    "Entities",
                                                    "SourceSystem",
                                                    "WorkspaceSubscriptionId",
                                                    "WorkspaceResourceGroup",
                                                    "ExtendedLinks",
                                                    "ProductName",
                                                    "ProductComponentName",
                                                    "AlertLink",
                                                    "Type",
                                                    "resourcesubid",
                                                    "resourcergname",
                                                    "resourceprovider",
                                                    "resourceshortid1",
                                                    "resourceshortid2",
                                                    "resourceshortid"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    }
                                },
                                "Run_query_and_list_results": {
                                    "runAfter": {},
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": "SecurityAlert\n| summarize arg_max(TimeGenerated, *) by SystemAlertId\n| where SystemAlertId in(\"@{items('For_each')}\")\n| where TimeGenerated >= ago (90d)\n| extend resourcesubid = split(ResourceId, \"/\", 2)\n| extend resourcesubid= tostring(resourcesubid[0])\n| extend resourcergname = split(ResourceId, \"/\", 4)\n| extend resourcergname= tostring(resourcergname[0])\n| extend resourceprovider = split(ResourceId, \"/\", 6)\n| extend resourceprovider = tostring(resourceprovider[0])\n| extend resourceshortid1 = split(ResourceId, \"/\", 7)\n| extend resourceshortid1 = tostring(resourceshortid1[0])\n| extend resourceshortid2 = split(ResourceId, \"/\", 8)\n| extend resourceshortid2 = tostring(resourceshortid2[0])\n| extend resourceshortid = strcat(resourceshortid1, \"/\", resourceshortid2)",
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/queryData",
                                        "queries": {
                                            "resourcegroups": "[parameters('ASCLogAnalyticsWorkspaceResourceGroupName')]",
                                            "resourcename": "[parameters('ASCLogAnalyticsWorkspaceName')]",
                                            "resourcetype": "Log Analytics Workspace",
                                            "subscriptions": "[subscription().subscriptionId]",
                                            "timerange": "Set in query"
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Alert_-_Get_incident": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "arm": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('armConnectionName'))]",
                                "connectionName": "arm",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/arm')]"
                            },
                            "azuremonitorlogs": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureMonitorLogsConnectionName'))]",
                                "connectionName": "[variables('AzureMonitorLogsConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuremonitorlogs')]"
                            },
                            "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                                "connectionName": "[variables('AzureSentinelConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                            },
                            "office365": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]",
                                "connectionName": "office365",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}